<%= form_for @invoice do |f| %>
  <div class="form-group">
    <%= f.label 'Комментарий' %>
    <%= f.text_field :comment, class: "form-control", id: "comment" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label 'Сумма' %>
    <%= f.number_field :sum, step: :any, class: "form-control", id: "sum" %>
  </div>
  <div class="form-group">
    <%= f.label :store_id, "Выберите магазин" %>
    <%= f.select :store_id, options_for_select(Store.all.map { |store| [store.name&.capitalize, store.id] }, @invoice&.store&.id), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :supplier, "Выберите поставщика" %>
    <%= f.select :supplier_id, options_for_select(Supplier.all.map { |supplier| [supplier.name, supplier.id] }, @invoice&.supplier&.id), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Статус' %>
    <%= f.select :status, options_for_select(Invoice.statuses.map { |key, value| [key.capitalize, key.to_sym] }, @invoice.status), {}, class: 'form-control' %>
  </div>

  <%= submit_tag "#{@invoice.new_record? ? 'Создать' : 'Обновить'} Invoice", class: "btn btn-primary" %>

<% end %>


<%= javascript_tag do %>
  <%# $('#price').on('change', function() {
    var value = parseFloat($(this).val());
    if (value < 0 || value > 100000) {
      alert('Please enter a number between 0 and 100000');
      $(this).val('');
    }
  }); %>
<% end %>
