<div class="container">
  <h2>Список накладных</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Номер</th>
         <td class="py-3 px-4">Сумма</th>
         <td class="py-3 px-4">Поставщик</th>
         <td class="py-3 px-4">Магазин</th>
         <td class="py-3 px-4">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to invoice.id, invoice_path(invoice), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= number_to_currency(invoice.sum) %></td>
          <td class="py-3 px-4 table-cell"><%= link_to invoice.supplier.name&.capitalize, supplier_path(invoice.supplier), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= link_to invoice.store.name&.capitalize, store_path(invoice.store), class: 'table-link' %></td>
          <td>
            <%= link_to 'Обновить', edit_invoice_path(invoice), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Удалить', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Создать накладную', new_invoice_path, class: 'btn btn-primary mr-2' %>

</div>

