<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= "Накладная №#{@invoice.id}, поставщик #{@invoice.supplier.name&.capitalize}, в магазин #{@invoice.store.name&.capitalize}"  %></h2>
      <hr>
      
      <h5>Сумма:</h5>
      <p><%= @invoice.sum %></p>
      
      <h5>Комментарий:</h5>
      <p><%= @invoice.comment %></p>
      
      <h5>Магазин:</h5>
      <p><%= link_to @invoice.store.name.capitalize, store_path(@invoice.store) %></p>

      <h5>Поставщик:</h5>
      <p><%= link_to @invoice.supplier.name&.capitalize, store_path(@invoice.store) %></p>
      
      <h5>Статус:</h5>
      <p><%= @invoice.status %></p>

      <div class="text-center">
        <%= link_to 'Изменить', edit_invoice_path(@invoice), class: "btn btn-primary" %>
        <%= link_to 'Назад', invoices_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

