<div class="container">
  <h2>Все магазины</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Имя</th>
         <td class="py-3 px-4">Адрес</th>
         <td class="py-3 px-4">Номер телефона</th>
         <td class="py-3 px-4">Статус</th>
         <td class="py-3 px-4">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to store.name.capitalize, store_path(store), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= store.address %></td>
          <td class="py-3 px-4 table-cell"><%= store.phone_number %></td>
          <td class="py-3 px-4 table-cell"><%= store.status %></td>
          <td>
            <%= link_to 'Обновить', edit_store_path(store), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Удалить', store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Создать', new_store_path, class: 'btn btn-primary mr-2' %>

</div>

