<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @store.name&.capitalize %></h2>
      <hr>
      <h5>Адрес:</h5>
      <p><%= @store.address %></p>
      <h5>Номер телефона:</h5>
      <p><%= @store.phone_number %></p>
      <h5>Статус:</h5>
      <p><%= @store.status %></p>
      <div class="text-center">
        <%= link_to 'Изменить', edit_store_path(@store), class: "btn btn-primary" %>
        <%= link_to 'Назад', stores_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

