<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label 'Почта' %>
    <%= f.text_field :email, class: "form-control", id: "email" %>
  </div>
  <div class="form-group">
    <%= f.label 'Имя' %>
    <%= f.text_field :first_name, class: "form-control", id: "first_name" %>
  </div>
  <div class="form-group">
    <%= f.label 'Фамилия' %>
    <%= f.text_field :last_name, class: "form-control", id: "last_name" %>
  </div>
  <div class="form-group">
    <%= f.label 'Роль' %>
    <%= f.select :role, options_for_select(User.roles.map { |key, value| [key.capitalize, key.to_sym] }, @user.role), {}, class: 'form-control' %>
  </div>

  <%= submit_tag "#{@user.new_record? ? 'Создать' : 'Обновить'}", class: "btn btn-primary" %>

<% end %>



<%= javascript_tag do %>
  <%# $('#price').on('change', function() {
    var value = parseFloat($(this).val());
    if (value < 0 || value > 100000) {
      alert('Please enter a number between 0 and 100000');
      $(this).val('');
    }
  }); %>
<% end %>