<div class="container">
  <h2>Все пользователи</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Имя</th>
         <td class="py-3 px-4">Почта</th>
         <td class="py-3 px-4">Роль</th>
         <td class="py-3 px-4">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to "#{user.first_name&.capitalize} #{user.last_name&.capitalize}", user_path(user), class: "table-link" %></td>
          <td class="py-3 px-4 table-cell"><%= link_to user.email, user_path(user), class: "table-link" %></td>
          <td class="py-3 px-4 table-cell"><%= link_to user.role, user_path(user), class: "table-link" %></td>
          <td class="">
            <%= link_to 'Обновить', edit_user_path(user), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Создать', new_user_path, class: 'btn btn-primary mr-2' %>
</div>
