<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= "#{@user.first_name&.capitalize} #{@user.last_name.capitalize}"%></h2>
      <hr>
      <h5>Почта:</h5>
      <p><%= @user.email %></p>
      <h5>Роль:</h5>
      <p><%= @user.role %></p>

      <div class="text-center">
        <%= link_to 'Изменить', edit_user_path(@user), class: "btn btn-primary" %>
        <%= link_to 'Назад', users_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

