<section class="hero-section text-center py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="display-4 font-weight-bold" style="font-family: Arial, sans-serif; color: #333; letter-spacing: 2px;">Лучший помощник для управления твоим бизнесом</h1>
        <p class="lead my-4"><span class="business-helper">Business helper</span> поможет тебе вести учет твоего товара и магазинов, так что ты сможешь сможешь сфокусироваться на том, что действительно имеет значение.</p>
        
        <% if user_signed_in? %>
          <%= link_to "Начать", products_path, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Начать", new_user_session_path, class: "btn btn-primary btn-lg" %>
        <% end %>

      </div>
      <div class="col-md-6">
        <%= image_tag("big_logo.png", class: 'img-fluid rounded-circle shadow-lg') %>

 
        <%# <img class="img-fluid rounded-circle shadow-lg" src="/tmp/big_logo.png" alt="Big Logo"> %>
      </div>
    </div>
  </div>
</section>

<section class="features-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <i class="fas fa-chart-line fa-3x text-primary"></i>
          <div class="card-body">
            <h5 class="card-title text-uppercase text-primary">Аналитика</h5>
            <p class="card-text">Получите представление о своем бизнесе с помощью наших мощных инструментов аналитики.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <i class="fas fa-store fa-3x text-primary"></i>
          <div class="card-body">
            <h5 class="card-title text-uppercase text-primary">Магазины</h5>
            <p class="card-text">Управляйте своими магазинами и запасами с легкостью.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <i class="fas fa-boxes fa-3x text-primary"></i>
          <div class="card-body">
            <h5 class="card-title text-uppercase text-primary">Товары</h5>
            <p class="card-text">Упорядочивайте и отслеживайте свои товары с помощью нашей простой в использовании системы.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-section py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase font-weight-bold">Вы готовы вывести свой бизнес на новый уровень?</h2>
      </div>
      <div class="col-md-6">
        <% if user_signed_in? %>
          <%= link_to "Начать", products_path, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Начать", new_user_session_path, class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

