/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


.form-group {
  padding: 10px;
}
.btn {
  margin: 10px;
}
.table-tr-hover tbody tr:hover {
  background-color: #e9ecef;
  transition-duration: 700ms;
}
.table-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.table-cell {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 15px;
}
.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}
.navbar-logo {
  width: 150px; /* adjust the width to your desired size */
  height: auto; /* this will adjust the height automatically to maintain the aspect ratio */
}
.business-helper {
  font-family: 'Montserrat', sans-serif;
}

