<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label 'Имя' %>
    <%= f.text_field :name, class: "form-control", id: "product_name" %>
  </div>
  <div class="form-group">
    <%= f.label 'Количество' %>
    <%= f.number_field :count, class: "form-control", id: "count" %>
  </div>
  <div class="form-group">
    <%= f.label 'Цена' %>
    <%= f.number_field :price, step: :any, class: "form-control", id: "price", min: 0, max: 100000 %>
  </div>

  <div class="form-group">
    <%= f.label :store_id, "Выберите магазин" %>
    <%= f.select :store_id, options_for_select(Store.all.map { |store| [store.name, store.id] }, @product.store.id), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :supplier, "Выберите поставщика" %>
    <%= f.select :supplier_id, options_for_select(Supplier.all.map { |supplier| [supplier.name, supplier.id] }, @product.supplier.id), {}, class: 'form-control' %>
  </div>

  <%= submit_tag "#{@product.new_record? ? 'Создать' : 'Изменть'} Product", class: "btn btn-primary" %>

<% end %>


<%= javascript_tag do %>
  <%# $('#price').on('change', function() {
    var value = parseFloat($(this).val());
    if (value < 0 || value > 100000) {
      alert('Please enter a number between 0 and 100000');
      $(this).val('');
    }
  }); %>
<% end %>
