<div class="container">
  <h2>Все продукты</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Имя</th>
         <td class="py-3 px-4">Цена</th>
         <td class="py-3 px-4">Количество</th>
         <td class="py-3 px-4">Магазин</th>
         <td class="py-3 px-4">Поставщик</th>
         <td class="py-3 px-4">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to product.name.capitalize, product_path(product), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= number_to_currency(product.price) %></td>
          <td class="py-3 px-4 table-cell"><%= product.count %></td>
          <td class="py-3 px-4 table-cell"><%= link_to product.store.name&.capitalize, store_path(product.store), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= link_to product.supplier.name&.capitalize, supplier_path(product.supplier), class: 'table-link' %></td>
          <td>
            <%= link_to 'Обновить', edit_product_path(product), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Создать', new_product_path, class: 'btn btn-primary mr-2' %>

</div>

