<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @product.name.capitalize%></h2>
      <hr>
      <h5>Название:</h5>
      <p><%= @product.name.capitalize %></p>

      <h5>Цена:</h5>
      <p><%= number_to_currency(@product.price) %></p>

      <h5>Количеств:</h5>
      <p><%= @product.count %></p>

      <h5>Магазин:</h5>
      <p><%= link_to @product.store.name.capitalize, store_path(@product.store) %></p>

      <h5>Поставщик:</h5>
      <p><%= link_to @product.supplier.name&.capitalize, store_path(@product.store) %></p>

      <div class="text-center">
        <%= link_to 'Изменить', edit_product_path(@product), class: "btn btn-primary" %>
        <%= link_to 'Назад', products_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

