<%= form_for @supplier do |f| %>
  <div class="form-group">
    <%= f.label 'Имя' %>
    <%= f.text_field :name, class: "form-control", id: "supplier_name" %>
  </div>
  <div class="form-group">
    <%= f.label 'Адрес' %>
    <%= f.text_field :address, class: "form-control", id: "supplier_address" %>
  </div>
  <div class="form-group">
    <%= f.label 'Номер телефона' %>
    <%= f.text_field :phone_number, class: "form-control", id: "supplier_phone_number" %>
  </div>
  <div class="form-group">
    <%= f.label 'Статус' %>
    <%= f.select :status, options_for_select(Supplier.statuses.map { |key, value| [key.capitalize, key.to_sym] }, @supplier.status), {}, class: 'form-control' %>
  </div>

  <%= submit_tag "#{@supplier.new_record? ? 'Создать' : 'Обновить'} Supplier", class: "btn btn-primary" %>

<% end %>


<%= javascript_tag do %>
  <%# $('#price').on('change', function() {
    var value = parseFloat($(this).val());
    if (value < 0 || value > 100000) {
      alert('Please enter a number between 0 and 100000');
      $(this).val('');
    }
  }); %>
<% end %>
