<div class="container">
  <h2>Все поставщики</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Имя</th>
         <td class="py-3 px-4">Адрес</th>
         <td class="py-3 px-4">Номер телефона</th>
         <td class="py-3 px-4">Статус</th>
         <td class="py-3 px-4">Действия</th> 
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to supplier.name.capitalize, supplier_path(supplier), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= supplier.address %></td>
          <td class="py-3 px-4 table-cell"><%= supplier.phone_number %></td>
          <td class="py-3 px-4 table-cell"><%= supplier.status %></td>
          <td>
            <%= link_to 'Обновить', edit_supplier_path(supplier), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Удалить', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'Создать', new_supplier_path, class: 'btn btn-primary mr-2' %>

</div>

