<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @supplier.name&.capitalize %></h2>
      <hr>
      <h5>Адрес:</h5>
      <p><%= @supplier.address %></p>
      <h5>Номер телефона:</h5>
      <p><%= @supplier.phone_number %></p>
      <h5>Статус:</h5>
      <p><%= @supplier.status %></p>
      <div class="text-center">
        <%= link_to 'Изменить', edit_supplier_path(@supplier), class: "btn btn-primary" %>
        <%= link_to 'Назад', suppliers_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

