<div class="container">
  <h2>Все склады</h2>
  <table class="table table-tr-hover">
    <thead>
      <tr>
         <td class="py-3 px-4">Имя</th>
         <td class="py-3 px-4">Адрес</th>
         <td class="py-3 px-4">Номер телефона</th>
         <td class="py-3 px-4">Статус</th>
         <td class="py-3 px-4">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td class="py-3 px-4 table-cell"><%= link_to warehouse.name.capitalize, warehouse_path(warehouse), class: 'table-link' %></td>
          <td class="py-3 px-4 table-cell"><%= warehouse.address %></td>
          <td class="py-3 px-4 table-cell"><%= warehouse.phone_number %></td>
          <td class="py-3 px-4 table-cell"><%= warehouse.status %></td>
          <td>
            <%= link_to 'Edit', edit_warehouse_path(warehouse), class: 'btn btn-sm btn-primary mr-2' %>
            <%= link_to 'Delete', warehouse, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Создать', new_warehouse_path, class: 'btn btn-primary mr-2' %>

</div>

