<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @warehouse.name&.capitalize %></h2>
      <hr>
      <h5>Адрес:</h5>
      <p><%= @warehouse.address %></p>
      <h5>Номер телефона:</h5>
      <p><%= @warehouse.phone_number %></p>
      <h5>Статус:</h5>
      <p><%= @warehouse.status %></p>
      <div class="text-center">
        <%= link_to 'Изменить', edit_warehouse_path(@warehouse), class: "btn btn-primary" %>
        <%= link_to 'Назад', warehouses_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

