<!DOCTYPE html>
<html>
  <head>
    <title>BusinessHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href=<%= root_path %>><%= image_tag("small_logo.png", class: 'navbar-logo') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Склад', '#', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Магазины', stores_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Накладные', invoices_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Поставщики', suppliers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Товары', products_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <%= form_tag('#', method: :get, class: 'form-inline my-2 my-lg-0') do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'Search' %>
            <span class="input-group-btn">
              <%= button_tag type: :submit, class: 'btn btn-outline-success my-2 my-sm-0' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <div id="notice-alert" class="alert alert-success 1alert-dismissible fade show" style='text-align: center;' role="alert">
          <%= value %>
        </div>
      <% elsif key == "alert" %>
        <div id="alert-alert" class="alert alert-danger alert-dismissible fade show" style='text-align: center;' role="alert">
          <%= value %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>

    <footer class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <h4>О нас</h4>
            <p>Профессиональная разработка сайтов</p>
          </div>
          <div class="col-md-4 mb-4">
            <h4>Контакты</h4>
            <ul class="list-unstyled">
              <li>Телефон: +34 666 131 937</li>
              <li>Email: info@example.com</li>
              <li>Адрес: г. Валенсия, ул. Примерная, д. 1</li>
            </ul>
          </div>
          <div class="col-md-4 mb-4">
            <h4>Подписка на новости</h4>
            <form>
              <div class="form-group">
                <label for="inputEmail">Введите ваш email:</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-primary">Подписаться</button>
            </form>
          </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 My Company. Все права защищены.</p>
      </div>
    </footer>
    
  </body>
</html>

<script>
  var noticeAlert = document.getElementById("notice-alert");
  var alertAlert = document.getElementById("alert-alert");

  if (noticeAlert) {
    setTimeout(function() {
      noticeAlert.classList.add("fade-out");
    }, 2000);
  }

  if (alertAlert) {
    setTimeout(function() {
      alertAlert.classList.add("fade-out");
    }, 2000);
  }
</script>
